.fs-16 {
  font-size: 16px !important;
}
.fs-36 {
  font-size: 36px !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fw-medium {
  font-weight: 500 !important;
}
